.item {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.item:hover {
  color: hsl(14, 88%, 65%);
}
li img {
  height: 30px;
  width: 30px;
  margin-left: 10px;
  padding: 9px;
}

.list-item-active {
  display: block !important;
  color: hsl(238, 29%, 16%);
  margin-right: 0;
}
.list-item-text-active {
  color: black;
}
.arrow-button-rotator {
  transform: rotate(180deg);
}
