.item {
  display: flex;
  justify-content: space-between;
  object-fit: none;
}
li img {
  height: 30px;
  width: 30px;
  margin-left: 10px;
  padding: 8px;
}

.list-item-active {
  display: block;
}
