@media screen and (max-width: 768px) {
  body {
    overflow: hidden;
  }
  #FAQ-card {
    flex-direction: column;
    justify-content: center;
    max-width: 90vw;
    max-height: 70vh;

    #img-bg-pattern-container {
      height: 80px;
      width: 170px;
      top: -70%;
      right: 60%;
      border-radius: 8%;

      transform: rotate(-40deg);
      overflow: hidden;
    }

    #left-side {
      margin-top: 0px;
      #img-woman-container {
        transform: translateX(22%);

        width: 100%;
        margin: 0px auto;

        #img-woman {
          height: 190px;
          width: 230px;
        }
      }

      #img-box-container {
        position: relative;
        height: 50px;
        width: 50px;
        display: flex;
        align-items: center;
        #img-box {
          transform: translate(40%, 120%);
          width: 90px;
          height: 90px;
        }
      }
    }

    #right-side {
      margin-top: 2rem;

      #FAQ-header {
        display: flex;
        justify-content: center;
      }
      #FAQ-questions {
        .question {
          width: 260px;
          padding: 2px 0px;
          p {
            font-size: 10px;
            line-height: 10px;
          }
        }
      }
    }
  }
}
