* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  background: linear-gradient(
    100deg,
    hsla(273, 75%, 66%, 1),
    hsla(240, 73%, 65%, 0.5)
  );
}

#FAQ-section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  #FAQ-card {
    display: flex;
    background: white;
    border-radius: 3%;

    #left-side {
      position: relative;

      #img-woman {
        transform: translateX(-20%);
      }
      #img-box {
        position: absolute;
        z-index: 1;
        top: 25%;
        left: -20%;
      }
    }
    #right-side {
      margin-top: 6rem;
      margin-bottom: 6rem;
      margin-right: 6rem;
      margin-left: 3rem;

      #FAQ-header {
        font-size: 2.6rem;
      }
      ul {
        list-style: none;

        li {
          line-height: 6rem;
          font-size: calc(1rem + 0.5vw);
          border-bottom: 1px solid rgba(0, 0, 0, 0.3);
        }
      }
    }
  }
}
