.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
}

.item:hover span {
  color: #f47c57;
}

li img {
  height: 30px;
  width: 30px;
  margin-left: 10px;
  padding: 9px;
}

.list-item-active {
  display: block !important;
  color: #1d1e35;
  margin-right: 0;
}

.list-item-text-active {
  color: black;
}

.arrow-button-rotator {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: all ease-in 0.2s;
  transition: all ease-in 0.2s;
}

@media screen and (max-width: 768px) {
  body {
    overflow: hidden;
  }
  #FAQ-card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 90vw;
    max-height: 70vh;
  }
  #FAQ-card #img-bg-pattern-container {
    height: 80px;
    width: 170px;
    top: -70%;
    right: 60%;
    border-radius: 8%;
    -webkit-transform: rotate(-40deg);
            transform: rotate(-40deg);
    overflow: hidden;
  }
  #FAQ-card #left-side {
    margin-top: 0px;
  }
  #FAQ-card #left-side #img-woman-container {
    -webkit-transform: translateX(22%);
            transform: translateX(22%);
    width: 100%;
    margin: 0px auto;
  }
  #FAQ-card #left-side #img-woman-container #img-woman {
    height: 190px;
    width: 230px;
  }
  #FAQ-card #left-side #img-box-container {
    position: relative;
    height: 50px;
    width: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #FAQ-card #left-side #img-box-container #img-box {
    -webkit-transform: translate(40%, 120%);
            transform: translate(40%, 120%);
    width: 90px;
    height: 90px;
  }
  #FAQ-card #right-side {
    margin-top: 2rem;
  }
  #FAQ-card #right-side #FAQ-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #FAQ-card #right-side #FAQ-questions .question {
    width: 260px;
    padding: 2px 0px;
  }
  #FAQ-card #right-side #FAQ-questions .question p {
    font-size: 10px;
    line-height: 10px;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  background: linear-gradient(100deg, #af67e9, rgba(101, 101, 231, 0.5));
}

#FAQ-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
}

#FAQ-section #FAQ-card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: white;
  border-radius: 3%;
  -webkit-box-shadow: 1px 5px 30px -10px black;
          box-shadow: 1px 5px 30px -10px black;
}

#FAQ-section #FAQ-card #img-bg-pattern-container {
  pointer-events: none;
  position: absolute;
  overflow-y: hidden;
  height: 100%;
}

#FAQ-section #FAQ-card #img-bg-pattern-container #img-bg-pattern {
  width: 800px;
  height: 900px;
  -webkit-transform: translate(-55%, -32%);
          transform: translate(-55%, -32%);
}

#FAQ-section #FAQ-card #left-side {
  position: relative;
  margin-top: 3rem;
}

#FAQ-section #FAQ-card #left-side #img-woman-container {
  overflow-x: hidden;
}

#FAQ-section #FAQ-card #left-side #img-woman-container #img-woman {
  -webkit-transform: translateX(-20%);
          transform: translateX(-20%);
}

#FAQ-section #FAQ-card #left-side #img-box-container #img-box {
  position: absolute;
  z-index: 1;
  top: 30%;
  left: -20%;
}

#FAQ-section #FAQ-card #right-side {
  margin-top: 6rem;
  margin-bottom: 6rem;
  margin-right: 10rem;
  margin-left: 3rem;
}

#FAQ-section #FAQ-card #right-side #FAQ-header {
  font-size: calc(2.6rem + 0.6vw);
  margin-bottom: 20px;
}

#FAQ-section #FAQ-card #right-side ul {
  list-style: none;
  margin-bottom: 40px;
  height: 300px;
}

#FAQ-section #FAQ-card #right-side ul li {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #4a4b5e;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 400px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 2rem;
  padding-top: 1rem;
  font-size: calc(1rem + 0.5vw);
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

#FAQ-section #FAQ-card #right-side ul li img {
  cursor: pointer;
}

#FAQ-section #FAQ-card #right-side ul li p {
  color: #686873;
  line-height: 2rem;
  max-width: 100%;
  font-size: 1.8rem;
  display: none;
  -webkit-transition: display ease-in 1s;
  transition: display ease-in 1s;
}
/*# sourceMappingURL=style.css.map */